[build]
builder = "NIXPACKS"
watchPatterns = ["**/*.php", "composer.json", "composer.lock"]

[deploy]
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
